body {
  background: #582c83;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 440px;

  background: #ffffff;

  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 8px;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #161616;
  margin: 0;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
}

.form-group {
  width: 100%;
}

.form-group input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 14px;

  background: #ffffff;

  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
  width: 100%;
  /* transition: all .2 ease-in-out; */
}

.form-group input:focus {
  border: 1px solid black;
  /* transition: all .2 ease-in-out; */
}

button {
  height: 44px;

  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 100%;

  background: #40c5dc;
  border-radius: 4px;
  border: none;
  color: white;
}

.form-group,
.form-domain {
  margin-bottom: 14px;
}

.form-group label,
.form-domain label {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  font-feature-settings: "pnum" on, "lnum" on, "kern" off;

  color: #161616;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.header {
  justify-content: center;
  align-content: center;
  display: flex;
  max-width: 440px;
  margin: 40px 0;
}

.form-domain input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 14px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  align-self: stretch;
  flex-grow: 1;
  width: calc(100% - 200px);
}

.form-domain {
  width: 100%;
}

.info-btn {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  background: url(./info.svg);
  cursor: pointer;
}

.info-btn p {
  display: none;
}

.info-btn:hover > p {
  display: block;
  font-size: 12px;
  background: #161616;
  color: white;
  padding: 8px;
  border-radius: 4px;
  width: 180px;
  font-weight: 400;
  position: relative;
  left: -86px;
}

.info-btn:hover > p a {
  color: #6890ff;
}

.info-btn:hover > p::after {
  content: "";
  background: #161616;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  transform: translate(80px, 4px) rotate(45deg);
}

label[for="loyaltyLionAPIKey"] .info-btn p {
  transform: translateY(-136%);
}

label[for="gorgiasAPIKey"] .info-btn p {
  transform: translateY(-118%);
}

.domain-extension {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}

.domain-extension input {
  border-radius: 4px 0 0 4px;
}
.domain-extension-box {
  border-radius: 0 4px 4px 0;
  padding: 16px 14px;
  width: 75px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #d6d6d6;
  /* margin: 8px 0px; */
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}
